* {
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Fjalla One', sans-serif;
}
.game-body {
  border: solid 10px #fd4141;
  border-radius: .5rem;
  width: 95vw;
  height: 95vh;
  margin-left: 2.5vw;
  margin-top: 2vh;
  background: beige;
}
.btn-top {
  margin-top: 2rem;
  background: #ffffff;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding: 16px 25px;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 41%;
}
.btn {
  background: #ffffff;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding: 16px 25px;
  text-decoration: none;
  cursor: pointer;
  margin: 0.5rem;
}
.png-btn {
  width: 30px;
}
.btn:hover, .btn-top:hover {
  background: #fd4141;
  text-decoration: none;
  color: #ffffff;
}
h2 {
  text-align: center;
  background-color: #000000;
  border-radius: 1rem;
  color: #ffffff;
  padding: 16px 25px;
  border: solid #fd4141 4px;
}
.game-container {
  display: flex;
}
.total-score-pl2, .total-score-pl1 {
  margin: 3rem;
  margin-top: 8rem;
  margin-left: 5.5rem;
  font-size: 4rem;
  font-weight: lighter;
}
.play-1 {
  position: relative;
  float: left;
} 
.play-2 {
  position: relative;
}
.Player1, .Player2 {
  font-size: 2rem;
  font-weight: lighter;
}
.Score-bottom {
  width: 120px;
  height: 100px;
  background-color: #fd4141;
  border-radius: 0.6rem;
  padding: 1rem;
  text-transform: uppercase;
  margin-top: 8rem;
  margin-left: 3rem;
}
.Score-bottom p {
  text-align: center;
}
.current-score-pl2, .current-score-pl1{
  color: #ffffff;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.center-game-fctns {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.dice > img {
  margin: 3rem;
  margin-left: 41%;
}
.center-game-fctns button {
  width: 320px;
  margin-left: 24%;
}
/*--------------------------------MEDIUM DEVICES------------------------------*/
@media screen and (max-width:1100px) {
  .btn-top {
    margin-left: 34%;
  }
  .dice > img {
    margin: 3rem;
    margin-left: 35%;
  }
  .center-game-fctns button {
    width: 320px;
    margin-left: 12%;
  }
  .center-game-fctns button {
    width: 300px;
    margin-left: 0%;
  }
}
/*--------------------SMALL DEVICES-----------------------------*/
@media screen and (max-width:500px) {
  *{
    overflow: visible;
  }
  .btn-top {
   width: 300px;
   border-radius: 1rem;
   margin-left: 2.1rem;
   margin-top: 10px;
  }
  .center-game-fctns {
    display: block;
    flex-direction: column;
    width: 40%;
  }
  .game-body {
    width: 98vw;
    height: 98vh;
    border: 0;
    margin: 0;
    margin-bottom: 2rem;
  }
  .game-container {
    display: block;
  }
  .dice > img {
    margin: 3rem;
    margin-left: 95%;
  }
  .center-game-fctns button {
    width: 320px;
    margin-left: 16%;
  }
  .play-1, .play-2 {
    position: relative;
    float: left;
    margin-left: 23%;
    margin-top: 2rem;
  } 
  .play-2 {
    margin-bottom: 2rem;
  }
}